@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.textarea {
    background-color: $gray-00;
    padding: toRem(14) toRem(20);
    max-width: em(640);
    width: 100%;
    height: toRem(88);
    border-radius: toRem(2);
    resize: vertical;
    border: toRem(1) solid $gray-00;
    transition: border-color 0.2s ease, background-color 0.2s ease;
    min-height: toRem(49);

    &:focus-within {
        border-color: $primary-500;
    }

    &.error {
        border-color: $danger-500;
        background-color: $danger-50;
    }
}
